/*====================================================== 
====== LAYOUT: PRICING
====================================================== */

.pricing {
  background-image: url(../images/bg-price.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0rem;
  background-position-x: -30rem;
  height: 1600px;
  text-align: center;
  color: white;
  padding: 200px 7vw 0px 7vw;
}


@media only screen and (min-width: 768px) {

.pricing {
    height: 880px;
    padding: 200px 16vw 0px 16vw;
    background-position-y: 0rem;
    background-position-x: 0rem;
  }

}